################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd.Screening/BackEnd.Screening/obj
/BackEnd.Screening/.vs/BackEnd.Screening
/.vs
/BackEnd.Screening/BackEnd.Screening/bin/Debug/net7.0
/BackEnd.Screening/.vs/ProjectEvaluation
